body {
  background: url(ET.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.ET-container {
  height: 50vh;
  margin-top: 30em;
  position: relative;
}
.ET-image {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  animation: bound 1.7s infinite;
}
.ET-image img {
  width: 100%;
}
@keyframes bound {
  0%,
  100% {
    top: 0;
    transform: scale(1);
  }
  30% {
    top: -60%;
    transform: scale();
  }
  60% {
    transform: scale(1);
  }
  90%{
    top: 0;
    transform: scale();
  }
}

@keyframes  shadow-animation {
  0%,
  100% {
    transform: scale(1);
    filter: blur(8px);
  }
  30% {
    transform: scale(1);
    filter: blur(10px);
  }
}
@media (max-width: 600px) {
  .page-title {
    font-size: 2.5rem;
  }
 .ET-container {
    margin-top: 15%;
  }
}

